# Folders
node_modules
**/.aws-sam/
**/.terraform/

# Files
variables-private.tf
.env
.env.test
electron-testing/out/
**/__pycache__/
ffmpeg/ffmpeg copy.py

private-variables.tf
*.zip

# Pyhon dotenv
env
docker-compose.yaml