---
interface Props {
    stat: any;
}

const { stat } = Astro.props

const api_url = import.meta.env.API_URL

for (let key in stat) {
    let artist_name = (stat[key]['artist'])
    const response = await fetch(api_url + '?artist=' + artist_name)
    const artist = await response.json()
    stat[key].artist_image=artist.artist_image
}

---

<h1>Top Artists (table)</h1>
<table>
<th>artist_image</th>
<th>artist</th>
<th>count</th>

{stat.map((s: any)=>(
    <tr>
        <td>
            {s.artist_image ? <img src={s.artist_image} width="320" height="320" alt=""/> : <></>}
        </td>
        <td>
            {s.artist}
        </td>
        <td>
            {s.count}
        </td>
    </tr>
))}
</table>

<style>
    table, th, td, tr, .long {
        border: 1px solid;
    }

    th {
        text-align: center;
        align-items: center;
        align-content: center;
    }

    tr {
        text-align: center;
    }

    .long {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 350px;

    }
    .long:hover{
        overflow: visible;
        white-space: normal;
        height:auto;
    }
</style>